{% include header.html %}

<div class="container container-left">
    <div class="row">
        <div class="col-md-3 hidden-xs">
            <div class="sidebar well">
                {% include home-menu.html %}
                {% include intro-menu.html %}
                {% include panel-menu.html %}
                {% include howto-menu.html %}
            </div>
        </div>
        <div class="col-md-9">
            {% assign last = page.url | slice: -1,1 %}{% if last == '/' %}{% assign url = page.url | append: 'index' %}{% else %}{% assign url = page.url %}{% endif %}
            <a href="https://github.com/neomutt/test-doc/blob/master{{ url }}.md"><div class="improve"><span>Improve this page</span><img width="32" height="32" src="{{ site.baseurl }}/images/edit.svg"></div></a>
            {{ content }}
        </div>
    </div>
</div>

{% include footer.html %}
